/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
/* Write your CSS below */

body {
    padding: 0;
    margin: 0;
    background: #540B51;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

*{
    padding: 0;
    margin: 0;
}


nav{
    display: flex;
justify-content: space-between;
align-items: baseline;
height: 10vh;
padding: 5vh 5vh 0 5vh;
}


.main-class {
    display: none;
}
.section-companies {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #F3EAE2;
}

.section-teams {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-back  {
    background: #540B51;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}


.button-container {
    display: flex;
}
.button-container button {
    width: 50%;
    height: 30%;
    background-color: transparent;
}

.hero-product {
    width: 500px;
}

.company-logos {
display: flex;
flex-direction: row;
justify-content: space-evenly;
width: 100%
}

.company-logos img {
    height: 50px;
}
.img img {
    width: 30%;
}
/*normally inline and block(display)  
JUSTIFY CONTENT IS ALWAYS IN THE PARENT*/
.title {
    background-color: #540B51;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/* for align text we use text align*/

}
.title h1{
    color: white;
    text-align: center;
}

.title p{
    color: 
}

.orange-text {
    color: orange;
  }
  
.white-text {
    color: white;
  }
/* for use flex-direction needs to declare display*/
.links {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.links button {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.links button img {
    height: 40px;
    width: 40px;
    position: absolute;
    left: 5px;
}

footer {
    background-color: #fff;
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

@media screen and (768px < width < 1024px) {
    
}